In [1]:
#import libraries
import os
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
#setwd
os.chdir("C:\Users\DEEKSHA\Desktop\edwisor\project2")
#os.getcwd() 
#Load data from csv
df = pd.read_csv("df_stopwords_lower_pun_rem.csv", sep=',')

In [3]:
df.iloc[10:18,]

,Unnamed: 0,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
10,10,0005300084f90edc,fair use rationale imagewonjujpg thanks upload...,0,0,0,0,0,0
11,11,00054a5e18b50dd4,bbq man lets discuss itmaybe phone,0,0,0,0,0,0
12,12,0005c987bdfc9d4b,hey talk exclusive group wp talibanswho good d...,1,0,0,0,0,0
13,13,0006f16e4e9f292e,start throwing accusations warnings lets revie...,0,0,0,0,0,0
14,14,00070ef96486d6f9,oh girl started arguments stuck nose doesnt be...,0,0,0,0,0,0
15,15,00078f8ce7eb276d,juelz santanas age 2002 juelz santana 18 years...,0,0,0,0,0,0
16,16,0007e25b2121310b,bye dont look come think comming back tosser,1,0,0,0,0,0
17,17,000897889268bc93,redirect talkvoydan pop georgiev chernodrinski,0,0,0,0,0,0

In [4]:
df['comment_text'] = df['comment_text'].str.replace('\d+', '')

In [5]:
df.isnull().sum()

Unnamed: 0        0
id                0
comment_text     19
toxic             0
severe_toxic      0
obscene           0
threat            0
insult            0
identity_hate     0
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

Unnamed: 0       0
id               0
comment_text     0
toxic            0
severe_toxic     0
obscene          0
threat           0
insult           0
identity_hate    0
dtype: int64

In [8]:
df.shape

(159552, 9)

In [9]:
df['id'].nunique()

159552

In [11]:
freq = pd.Series(' '.join(df['comment_text']).split()).value_counts()[-10:]

In [13]:
freq = list(freq.index)
freq

TypeError: 'builtin_function_or_method' object is not iterable

In [58]:

#df['comment_text'] = df['comment_text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df['comment_text'].head()

0    explanation edits made username hardcore metal...
1    daww matches background colour im seemingly st...
2    hey man im really trying edit war guy constant...
3    cant make real suggestions improvement wondere...
4                  sir hero chance remember page thats
Name: comment_text, dtype: object

In [59]:
from textblob import TextBlob
df['comment_text'][:5].apply(lambda x: str(TextBlob(x).correct()))

ImportError: No module named textblob